div {
  padding: 10px;
}

tr:hover {
  outline: solid;
  outline-color: var(--primary);
}

td {
  text-align: center;
}

textarea {
  width: 100%;
}

#divTracklisting {
  display: flex;
  overflow-y: auto;
  justify-content: space-evenly;
}

#divLoading {
  position: fixed;
  display: none;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
